.fixed-image {
  height: 160px;
  object-fit: cover;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  margin-top: auto;
}
